.RubyClassicBlackjackGold {
    background: url(../img/games/BTN_GoldSeries_ClassicBlackjack1.png);
}

.pureplatinum {
    background: url(../img/games/BTN_PurePlatinum1.png);
}

.BreakAway {
    background: url(../img/games/BTN_BreakAway1.png);
}

.Thunderstruck2 {
    background: url(../img/games/BTN_ThunderstruckTwo1.png);
}

.AsianBeauty {
    background: url(../img/games/BTN_AsianBeauty1.png);
}

.EuropeanBJGold {
    background: url(../img/games/BTN_EuroBlackjack1.png);
}

.AvalonII-L-QuestForTheGrail {
    background: url(../img/games/BTN_AvalonII.png);
}

.TheDarkKnightRises {
    background: url(../img/games/BTN_TheDarkKnightRises.png);
}

.LeaguesOfFortune {
    background: url(../img/games/BTN_LeaguesOfFortune1.png);
}

.InItToWinIt {
    background: url(../img/games/BTN_InItToWinIt.png);
}

.LooseCannon {
    background: url(../img/games/BTN_LooseCannon1.png);
}

.Playboy {
    background: url(../img/games/BTN_Playboy1.png);
}

.DrWattsUp {
    background: url(../img/games/BTN_DrWattsUp1.png);
}

.UntamedCrownedEagle {
    background: url(../img/games/BTN_UntamedCrownedEagle.png);
}

.GirlsWithGuns-L-JungleHeat {
    background: url(../img/games/BTN_GirlswithGuns1.png);
}

.GirlswithGuns-L-FrozenDawn {
    background: url(../img/games/BTN_GirlswithGuns2.png);
}

.BustTheBank {
    background: url(../img/games/BTN_BustTheBank1.png);
}

.HighSociety {
    background: url(../img/games/BTN_HighSociety.png);
}

.MysticDreams {
    background: url(../img/games/BTN_MysticDreams1.png);
}

.SecretSanta {
    background: url(../img/games/BTN_SecretSanta.png);
}

.RacingForPinks {
    background: url(../img/games/BTN_RacingForPinks.png);
}

.StarlightKiss {
    background: url(../img/games/BTN_StarlightKiss.png);
}

.LuckyKoi {
    background: url(../img/games/BTN_LuckyKoi.png);
}

.DolphinQuest {
    background: url(../img/games/BTN_DolphinQuest.png);
}

.Terminator2 {
    background: url(../img/games/BTN_Terminator2_1.png);
}

.BootyTime {
    background: url(../img/games/BTN_BootyTime.png);
}

.ArcticAgents {
    background: url(../img/games/BTN_ArcticAgents.png);
}

.TigerMoon {
    background: url(../img/games/BTN_TigerMoon.png);
}

.Bridezilla {
    background: url(../img/games/BTN_BrideZilla.png);
}

.PiggyFortunes {
    background: url(../img/games/BTN_PiggyFortunes.png);
}

.WheelOfWealthSpecialEdition {
    background: url(../img/games/BTN_WheelofWealthSE1.png);
}

.BushTelegraph {
    background: url(../img/games/BTN_BushTelegraph1.png);
}

.WhatonEarth {
    background: url(../img/games/BTN_WhatonEarth1.png);
}

.TheTwistedCircus {
    background: url(../img/games/BTN_TwistedCircus.png);
}

.MadHatters {
    background: url(../img/games/BTN_MadHatters1.png);
}

.TombRaider {
    background: url(../img/games/BTN_TombRaider2.png);
}

.TombRaider2 {
    background: url(../img/games/BTN_TombRaiderSotS1.png);
}

.MermaidsMillions {
    background: url(../img/games/BTN_MermaidsMillions1.png);
}

.TheFinerReelsofLife {
    background: url(../img/games/BTN_FinerReelsofLife.png);
}

.Cashville {
    background: url(../img/games/BTN_Cashville1.png);
}

.WasabiSan {
    background: url(../img/games/BTN_WasabiSan4.png);
}

.Cashanova {
    background: url(../img/games/BTN_Cashanova1.png);
}

.DinoMight {
    background: url(../img/games/BTN_DinoMight1.png);
}

.SkullDuggery {
    background: url(../img/games/BTN_SkullDuggery1.png);
}

.ThunderstruckII {
    background: url(../img/games/BTN_ThunderstruckTwo1.png);
}

.RoboJack {
    background: url(../img/games/BTN_robojack1.png);
}

.PollenNation {
    background: url(../img/games/BTN_PollenNation1.png);
}

.WitchesWealth {
    background: url(../img/games/BTN_WitchesWealth1.png);
}

.MagicCharms {
    background: url(../img/games/BTN_MagicCharms.png);
}

.SantasWildRide {
    background: url(../img/games/BTN_SantasWildRide1.png);
}

.WheelofWealth {
    background: url(../img/games/BTN_WheelOfWealth1.png);
}

.Halloweenies {
    background: url(../img/games/BTN_Halloweenies1.png);
}

.Loaded {
    background: url(../img/games/BTN_Loaded1.png);
}

.UntamedWolfPack {
    background: url(../img/games/BTN_UntamedWolfPack1.png);
}

.UntamedBengalTiger {
    background: url(../img/games/BTN_UntamedBengalTiger1.png);
}

.BreakDaBankAgain {
    background: url(../img/games/BTN_BreakDaBankAgain1.png);
}

.Moonshine {
    background: url(../img/games/BTN_Moonshine1.png);
}

.BigKahuna {
    background: url(../img/games/BTN_BigKahuna1.png);
}

.HitMan {
    background: url(../img/games/BTN_Hitman1.png);
}

.FootballStar {
    background: url(../img/games/BTN_footballstar1.png);
}

.Starscape {
    background: url(../img/games/BTN_StarScape1.png);
}

.Shoot {
    background: url(../img/games/BTN_Shoot.png);
}

.RubyDogfather {
    background: url(../img/games/BTN_Dogfather2.png);
}

.RubyHellBoy {
    background: url(../img/games/BTN_HellBoy1.png);
}

.PhantomCash {
    background: url(../img/games/BTN_PhantomCash.png);
}

.RubyHouseofDragons {
    background: url(../img/games/BTN_HouseofDragons.png);
}

.RubyKingArthur {
    background: url(../img/games/BTN_KingArthur.png);
}

.SpectacularWheelOfWealth {
    background: url(../img/games/BTN_SpectacularWheelOfWealth1.png);
}

.CashCrazy {
    background: url(../img/games/BTN_CashCrazy9.png);
}

.Belissimo {
    background: url(../img/games/BTN_Belissimo17.png);
}

.FlyingAce {
    background: url(../img/games/BTN_FlyingAce2.png);
}

.GoldCoast {
    background: url(../img/games/BTN_GoldCoast3.png);
}

.GoldenDragon {
    background: url(../img/games/BTN_GoldenDragon6.png);
}

.RapidReels {
    background: url(../img/games/BTN_RapidReels5.png);
}

.CoolBuck {
    background: url(../img/games/BTN_CoolBuck1.png);
}

.JackpotExpress {
    background: url(../img/games/BTN_JackpotExpress1.png);
}

.JingleBells {
    background: url(../img/games/BTN_JingleBells6.png);
}

.RomanRiches {
    background: url(../img/games/BTN_RomanRiches11.png);
}

.Fantastic7s {
    background: url(../img/games/BTN_FantasticSevens1.png);
}

.BreakDaBank {
    background: url(../img/games/BTN_BreakDaBank1.png);
}

.ZanyZebra {
    background: url(../img/games/BTN_ZanyZebra1.png);
}

.TripleMagic {
    background: url(../img/games/BTN_TripleMagic1.png);
}

.CouchPotato {
    background: url(../img/games/BTN_CouchPotato2.png);
}

.DoubleMagic {
    background: url(../img/games/BTN_DoubleMagic1.png);
}

.DoubleWammy {
    background: url(../img/games/BTN_DoubleWammy1.png);
}

.FruitSlots {
    background: url(../img/games/BTN_FruitSlots1.png);
}

.CashClams {
    background: url(../img/games/BTN_CashClams2.png);
}

.FortuneCookie {
    background: url(../img/games/BTN_FortuneCookie7.png);
}

.RockTheBoat {
    background: url(../img/games/BTN_RocktheBoat18.png);
}

.Legacy {
    background: url(../img/games/BTN_Legacy2.png);
}

.CosmicCat {
    background: url(../img/games/BTN_CosmicCat1.png);
}

.JurassicJackpot {
    background: url(../img/games/BTN_JurassicJackpot1.png);
}

.WildCatch {
    background: url(../img/games/BTN_WildCatch.png);
}

.SweetHarvest {
    background: url(../img/games/BTN_SweetHarvest1.png);
}

.DoctorLove {
    background: url(../img/games/BTN_DrLove.png);
}

.ReelDrive {
    background: url(../img/games/BTN_5ReelDrive1.png);
}

.HotShot {
    background: url(../img/games/BTN_HotShot3.png);
}

.ImmortalRomance {
    background: url(../img/games/BTN_ImmortalRomance1.png);
}

.GreatGriffin {
    background: url(../img/games/BTN_GreatGriffin1.png);
}

.UntamedGiantPanda {
    background: url(../img/games/BTN_UntamedGiantPanda.png);
}

.OrientalFortune {
    background: url(../img/games/BTN_OrientalFortune2.png);
}

.CrazyChameleons {
    background: url(../img/games/BTN_CrazyChameleons1.png);
}

.KaratePig {
    background: url(../img/games/BTN_KaratePig1.png);
}

.SoManyMonsters {
    background: url(../img/games/BTN_somanymonsters.png);
}

.MonsterMania {
    background: url(../img/games/BTN_MonsterMania1.png);
}

.LadyInRed {
    background: url(../img/games/BTN_LadyInRed2.png);
}

.RedHotDevil {
    background: url(../img/games/BTN_RedHotDevil.png);
}

.GopherGold {
    background: url(../img/games/BTN_GopherGold2.png);
}

.GoldenEra {
    background: url(../img/games/BTN_GoldenEra.png);
}

.GeniesGems {
    background: url(../img/games/BTN_GeniesGems2.png);
}

.Carnaval {
    background: url(../img/games/BTN_Carnaval2.png);
}

.Cashapillar {
    background: url(../img/games/BTN_Cashapillar1.png);
}

.ReelThunder {
    background: url(../img/games/BTN_ReelThunder2.png);
}

.BigTop {
    background: url(../img/games/BTN_BigTop1.png);
}

.WhatAHoot {
    background: url(../img/games/BTN_WhataHoot3.png);
}

.BurningDesire {
    background: url(../img/games/BTN_BurningDesire1.png);
}

.DeckTheHalls {
    background: url(../img/games/BTN_DeckTheHalls1.png);
}

.Scrooge {
    background: url(../img/games/BTN_Scrooge1.png);
}

.SoMuchSushi {
    background: url(../img/games/BTN_somuchsushi.png);
}

.SunQuest {
    background: url(../img/games/BTN_SunQuest3.png);
}

.SoMuchCandy {
    background: url(../img/games/BTN_somuchcandy.png);
}

.TotemTreasure {
    background: url(../img/games/BTN_TotemTreasure1.png);
}

.HappyNewYear {
    background: url(../img/games/BTN_HappyNewYear3.png);
}

.RhymingReels-OldKingCole {
    background: url(../img/games/BTN_RRKing1.png);
}

.TheOsbournes {
    background: url(../img/games/BTN_TheOsbournes1.png);
}

.VinylCountdown {
    background: url(../img/games/BTN_VinylCountdown4.png);
}

.MegaSpinsBreakDaBank {
    background: url(../img/games/BTN_BreakdaBankAgainMegaSpin1.png);
}

.WinningWizards {
    background: url(../img/games/BTN_WinningWizards1.png);
}

.LuckyFirecracker {
    background: url(../img/games/BTN_LuckyFirecracker.png);
}

.MaxDamage {
    background: url(../img/games/BTN_MaxDamageSlot.png);
}

.TitansoftheSunHyperion {
    background: url(../img/games/BTN_TitansOfTheSun_Hyperion_ZH.png);
}

.Ariana {
    background: url(../img/games/BTN_Ariana_ZH.png);
}

.RugbyStar {
    background: url(../img/games/BTN_RugbyStar_ZH.png);
}

.HotAsHades {
    background: url(../img/games/BTN_HotAsHades_ZH.png);
}

.GoldenPrincess {
    background: url(../img/games/BTN_GoldenPrincess.png);
}

.LuckyZodiac {
    background: url(../img/games/BTN_LuckyZodiac_ZH.png);
}

.LadyInRed {
    background: url(../img/games/BTN_LadyInRed2.png);
}

.li>DeucesAndJoker {
    background: url(../img/games/BTN_DeucesJoker1.png);
}

.DoubleDoubleBonus {
    background: url(../img/games/BTN_DoubleDoubleBonus1.png);
}

.LouisianaDouble {
    background: url(../img/games/BTN_LouisianaDouble1.png);
}

.JacksOrBetter {
    background: url(../img/games/BTN_JacksOrBetter1.png);
}

.TensOrBetter {
    background: url(../img/games/BTN_TensOrBetter1.png);
}

.DeucesWild {
    background: url(../img/games/BTN_DeucesWild1.png);
}

.TheJoyOfSix {
    background: url(../img/games/BTN_JoyOfSix.png);
}

.Avalon {
    background: url(../img/games/BTN_Avalon1.png);
}

.ReelGems {
    background: url(../img/games/BTN_ReelGems1.png);
}

.SpringBreak {
    background: url(../img/games/BTN_SpringBreak2.png);
}

.GoodToGo {
    background: url(../img/games/BTN_GoodToGo2.png);
}

.RetroReelsDiamondGlitz {
    background: url(../img/games/BTN_RRDiamondGlitz1.png);
}

.RetroReels {
    background: url(../img/games/BTN_RetroReels1.png);
}

.AdventurePalace {
    background: url(../img/games/BTN_AdventurePalace4.png);
}

.Munchkins {
    background: url(../img/games/BTN_Munchkins2.png);
}

.Harveys {
    background: url(../img/games/BTN_Harveys1.png);
}

.RivieraRiches {
    background: url(../img/games/BTN_RivieraRiches1.png);
}

.SovereignOfTheSevenSeas {
    background: url(../img/games/BTN_SovereignoftheSevenSeas.png);
}

.HoHoHo {
    background: url(../img/games/BTN_Hohoho1.png);
}

.GoldFactory {
    background: url(../img/games/BTN_GoldFactory1.png);
}

.ReelStrike {
    background: url(../img/games/BTN_ReelStrike1.png);
}

.Kathmandu {
    background: url(../img/games/BTN_Kathmandu1.png);
}

.CoolWolf {
    background: url(../img/games/BTN_CoolWolf1.png);
}

.Thunderstruck {
    background: url(../img/games/BTN_Thunderstruck1.png);
}

.AgentJaneBlonde {
    background: url(../img/games/BTN_AgentJaneBlonde7.png);
}

.SecretAdmirer {
    background: url(../img/games/BTN_SecretAdmirer1.png);
}

.MagicBoxes {
    background: url(../img/games/BTN_MagicBoxes.png);
}

.LadiesNite {
    background: url(../img/games/BTN_LadiesNite5.png);
}

.FishParty {
    background: url(../img/games/BTN_FishParty1.png);
}

.HotInk {
    background: url(../img/games/BTN_HotInk1.png);
}

.Elementals {
    background: url(../img/games/BTN_Elementals2.png);
}

.BattlestarGalactica {
    background: url(../img/games/BTN_BattlestarGalactica1.png);
}

.TallyHo {
    background: url(../img/games/BTN_TallyHo1.png);
}

.WesternFrontier {
    background: url(../img/games/BTN_WesternFrontier.png);
}

.LuckyWitch {
    background: url(../img/games/BTN_LuckyWitch1.png);
}

.RhymingReelsHeartsTarts {
    background: url(../img/games/BTN_RRHearts&Tarts1.png);
}

.SilverFang {
    background: url(../img/games/BTN_SilverFang1.png);
}

.MugshotMadness {
    background: url(../img/games/BTN_MugshotMadness1.png);
}

.MayanPrincess {
    background: url(../img/games/BTN_MayanPrincess1.png);
}

.Octopays {
    background: url(../img/games/BTN_Octopays.png);
}

.PremierTrotting {
    background: url(../img/games/BTN_PremierTrotting1.png);
}

.PremierRacing {
    background: url(../img/games/BTN_PremierRacing1.png);
}

.ElectroBingo {
    background: url(../img/games/BTN_ElectroBingo1.png);
}

.PharaohBingo {
    background: url(../img/games/BTN_PharaohBingo1.png);
}

.CrownAndAnchor {
    background: url(../img/games/BTN_CrownAndAnchor1.png);
}

.MayanBingo {
    background: url(../img/games/BTN_MayanBingo1.png);
}

.EnchantedWoods {
    background: url(../img/games/BTN_EnchantedWoods1.png);
}

.SambaBingo {
    background: url(../img/games/BTN_SambaBingo1.png);
}

.FourByFour {
    background: url(../img/games/BTN_FourByFour1.png);
}

.Germinator {
    background: url(../img/games/BTN_Germinator1.png);
}

.MaxDamageAndTheAlienAttack {
    background: url(../img/games/BTN_MaxDamage1.png);
}

.Baccarat {
    background: url(../img/games/BTN_Baccarat2.png);
}

.BaccaratGold {
    background: url(../img/games/BTN_GoldSeries_Baccarat1.png);
}

.SuperFun21 {
    background: url(../img/games/BTN_SuperFun21Blackjack1.png);
}

.FrenchRoulette {
    background: url(../img/games/BTN_FrenchRoulette1.png);
}

.MultiWheelRouletteGold {
    background: url(../img/games/BTN_GoldSeries_MultiWheelRoulette1.png);
}

.HighLimitBaccarat {
    background: url(../img/games/BTN_HighLimitBaccarat1.png);
}

.AmericanRoulette {
    background: url(../img/games/BTN_USRoulette1.png);
}

.HighLimitEuropeanBlackjack {
    background: url(../img/games/BTN_EuroBlackjackHighLimit1.png);
}

.EuropeanRouletteGold {
    background: url(../img/games/BTN_GoldSeries_EuroRoulette1.png);
}

.PokerPursuit {
    background: url(../img/games/BTN_PokerPursuit1.png);
}

.CyberstudPoker {
    background: url(../img/games/BTN_Cyberstud1.png);
}

.SpanishBlackjack {
    background: url(../img/games/BTN_SpanishBlackjack1.png);
}

.DeucesAndJoker {
    background: url(../img/games/BTN_DeucesJokerPowerPoker1.png);
}

.Jackspwrpoker {
    background: url(../img/games/BTN_JacksorBetterPowerPoker1.png);
}

.DoubleJoker {
    background: url(../img/games/BTN_DoubleJokerPowerPoker1.png);
}

.AcesAndFaces {
    background: url(../img/games/BTN_AcesFacesPowerPoker1.png);
}

.JokerPoker {
    background: url(../img/games/BTN_JokerPokerPowerPoker1.png);
}