.nt_attraction {
    background: url(../img/games/attraction.jpg);
}

.nt_beach {
    background: url(../img/games/beach.jpg);
}

.nt_bigbang {
    background: url(../img/games/big_bang.jpg);
}

.nt_demolitionsquad {
    background: url(../img/games/demolition_squa.jpg);
}

.nt_dragonisland {
    background: url(../img/games/dragon_island.jpg);
}

.nt_egyptianheroes {
    background: url(../img/games/egyptian_heroes.jpg);
}

.nt_Eldorado {
    background: url(../img/games/gonzos_quest.jpg);
}

.nt_fireflies {
    background: url(../img/games/fireflies.jpg);
}

.nt_fisticuffs {
    background: url(../img/games/fisticuffs.jpg);
}

.nt_flowers {
    background: url(../img/games/flowers.jpg);
}

.nt_fruits {
    background: url(../img/games/fruit_case.jpg);
}

.nt_jackandbeanstalk {
    background: url(../img/games/jack_and_the_beanstalk.jpg);
}

.nt_jackhammer2 {
    background: url(../img/games/jack_hammer_2.jpg);
}

.nt_lostisland {
    background: url(../img/games/lostisland.jpg);
}

.nt_luckyangler {
    background: url(../img/games/lucky_angler.jpg);
}

.nt_magicportals {
    background: url(../img/games/magic_portals.jpg);
}

.nt_monkeys {
    background: url(../img/games/go_bananas.jpg);
}

.nt_muse {
    background: url(../img/games/muse.jpg);
}

.nt_mythicmaiden {
    background: url(../img/games/mythic_maiden.jpg);
}

.nt_rabbits {
    background: url(../img/games/wonky_wabbits.jpg);
}

.nt_spacewars {
    background: url(../img/games/spacewars.jpg);
}

.nt_southpark2 {
    background: url(../img/games/south_park_reel_chaos.jpg);
}

.nt_starburst {
    background: url(../img/games/starburst.jpg);
}

.nt_subtopia {
    background: url(../img/games/subtopia.jpg);
}

.nt_thief {
    background: url(../img/games/thief.jpg);
}

.nt_wildturkey {
    background: url(../img/games/wild_turkey.jpg);
}

.nt_wishmaster {
    background: url(../img/games/the_wish_master.jpg);
}

.nt_zombies {
    background: url(../img/games/zombies.jpg);
}

.nt_deadoralive {
    background: url(../img/games/dead_or_alive.jpg);
}

.nt_reelsteal {
    background: url(../img/games/reel_steal.jpg);
}

.nt_piggyriches {
    background: url(../img/games/piggy_riches.jpg);
}

.nt_victorious {
    background: url(../img/games/victorious.jpg);
}

.nt_twinspin {
    background: url(../img/games/twinspin.jpg);
}

.nt_secretofthestones {
    background: url(../img/games/secretofthestones.jpg);
}

.nt_tornado {
    background: url(../img/games/9280.jpg);
}

.nt_hit2split {
    background: url(../img/games/hit2split.jpg);
}

.nt_steamtower {
    background: url(../img/games/9295.jpg);
}

.nt_fruitshop {
    background: url(../img/games/fruitshop.jpg);
}

.nt_ghostpirates {
    background: url(../img/games/ghostpirates.jpg);
}

.nt_southpark {
    background: url(../img/games/southpark.jpg);
}

.nt_eggomatic {
    background: url(../img/games/8349.jpg);
}

.nt_reelrush {
    background: url(../img/games/reelrush.jpg);
}

.nt_dracula {
    background: url(../img/games/dracula.jpg);
}

.nt_vegasparty {
    background: url(../img/games/vegasparty.jpg);
}

.nt_colossalpinatas {
    background: url(../img/games/spinatagrande.jpg);
}

.nt_crimescene {
    background: url(../img/games/crimescene.jpg);
}

.nt_wildrockets {
    background: url(../img/games/wildrockets.jpg);
}

.nt_frankenstein {
    background: url(../img/games/frankenstein.jpg);
}

.nt_blacklagoon {
    background: url(../img/games/blacklagoon.jpg);
}

.nt_wildwater {
    background: url(../img/games/wildwater.jpg);
}

.nt_alienrobots {
    background: url(../img/games/alienrobots.jpg);
}

.nt_bloodsuckers {
    background: url(../img/games/blood_suckers.jpg);
}

.nt_reelpoker {
    background: url(../img/games/king_of_chicago.jpg);
}

.nt_thunderfist {
    background: url(../img/games/thunderfist.jpg);
}

.nt_voodoo {
    background: url(../img/games/Voodoo.jpg);
}

.nt_horus {
    background: url(../img/games/horus.jpg);
}

.nt_Excalibur {
    background: url(../img/games/excalibur.jpg);
}

.nt_thrillspin {
    background: url(../img/games/thrillspin.jpg);
}

.nt_retro-groovy60 {
    background: url(../img/games/retro-groovy60.jpg);
}

.nt_viking {
    background: url(../img/games/viking.jpg);
}

.nt_troll {
    background: url(../img/games/troll.jpg);
}

.nt_simsalabim {
    background: url(../img/games/simsalabim.jpg);
}

.nt_wildwitches {
    background: url(../img/games/wildwitches.jpg);
}

.nt_goldenshamrock {
    background: url(../img/games/goldenshamrock.jpg);
}

.nt_krakow {
    background: url(../img/games/Krakow.jpg);
}

.nt_fortuneteller {
    background: url(../img/games/fortuneteller.jpg);
}

.nt_diamonddogs {
    background: url(../img/games/diamonddogs.jpg);
}

.nt_retro-super80 {
    background: url(../img/games/retro-super80.jpg);
}

.nt_retro-funky70 {
    background: url(../img/games/retro-funky70.jpg);
}

.nt_wizards {
    background: url(../img/games/spellcast.jpg);
}

.nt_cosmicfortune {
    background: url(../img/games/cosmicfortune.jpg);
}

.nt_hallofgods {
    background: url(../img/games/hallofgods.jpg);
}

.nt_geisha {
    background: url(../img/games/Geisha.jpg);
}

.nt_ice {
    background: url(../img/games/icywonder.jpg);
}

.nt_arabian {
    background: url(../img/games/arabian.jpg);
}

.nt_megajackpot {
    background: url(../img/games/Megafortune.jpg);
}

.nt_frog {
    background: url(../img/games/Frog.jpg);
}

.nt_tiki {
    background: url(../img/games/Tiki.jpg);
}

.nt_starburstmini {
    background: url(../img/games/starburstmini.jpg);
}

.nt_blackjackonedk {
    background: url(../img/games/blackjackonedk.jpg);
}

.nt_blackjackflash {
    background: url(../img/games/blackjackflash.jpg);
}

.nt_jacksorbettermultiplehand {
    background: url(../img/games/jacksorbettermultiplehand.jpg);
}

.nt_jokerwildmultiplehand {
    background: url(../img/games/jokerwildmultiplehand.jpg);
}

.nt_europeanroulette3 {
    background: url(../img/games/europeanroulette3.jpg);
}

.nt_roulette2adv {
    background: url(../img/games/roulette2adv.jpg);
}

.nt_dazzle_not_mobile {
    background: url(../img/games/dazzle_not_mobile.jpg);
}

.nt_stickers_not_mobile {
    background: url(../img/games/stickers_not_mobile.jpg);
}

.nt_invisibleman_not_mobile {
    background: url(../img/games/invisibleman_not_mobile.jpg);
}

.nt_robinhood {
    background: url(../img/games/robinhood.jpg);
}

.nt_pyramid_not_mobile {
    background: url(../img/games/pyramid_not_mobile.jpg);
}

.nt_neonstaxx_not_mobile {
    background: url(../img/games/neonstaxx_not_mobile.jpg);
}

.nt_alien {
    background: url(../img/games/alien.jpg);
}

.nt_sparks_not_mobile {
    background: url(../img/games/sparks_not_mobile.jpg);
}

.nt_crusaders {
    background: url(../img/games/crusaders.jpg);
}

.nt_jackhammer {
    background: url(../img/games/jackhammer.jpg);
}

.nt_evolution {
    background: url(../img/games/evolution.jpg);
}

.nt_devil {
    background: url(../img/games/devil.jpg);
}

.nt_boombrothers {
    background: url(../img/games/boombrothers.jpg);
}

.nt_pacific {
    background: url(../img/games/pacific.jpg);
}

.nt_scarface {
    background: url(../img/games/scarface.jpg);
}

.nt_hooksheroes_not_mobile {
    background: url(../img/games/hooksheroes_not_mobile.jpg);
}