.pt_game_ct,.game_ct {
    background: url(../img/games/ct.jpg);
}

.pt_game_zcjb,.game_zcjb {
    background: url(../img/games/zcjb.jpg);
}

.pt_game_bib,.game_bib {
    background: url(../img/games/bib.jpg);
}

.pt_game_fm,.game_fm {
    background: url(../img/games/fm.jpg);
}

.pt_game_hk,.game_hk {
    background: url(../img/games/hk.jpg);
}

.pt_game_gos,.game_gos {
    background: url(../img/games/gos.jpg);
}

.pt_game_bob,.game_bob {
    background: url(../img/games/bob.jpg);
}

.pt_game_jqw,.game_jqw {
    background: url(../img/games/jqw.jpg);
}

.pt_game_nian_k,.game_nian_k {
    background: url(../img/games/nian_k.jpg);
}

.pt_game_dnr,.game_dnr {
    background: url(../img/games/dnr.jpg);
}

.pt_game_gemq,.game_gemq {
    background: url(../img/games/gemq.jpg);
}

.pt_game_longlong,.game_longlong {
    background: url(../img/games/longlong.jpg);
}

.pt_game_aogs,.game_aogs {
    background: url(../img/games/aogs.jpg);
}

.pt_game_qnw,.game_qnw {
    background: url(../img/games/qnw.jpg);
}

.pt_game_chao,.game_chao {
    background: url(../img/games/chao.jpg);
}

.pt_game_cm,.game_cm {
    background: url(../img/games/cm.jpg);
}

.pt_game_sx,.game_sx {
    background: url(../img/games/sx.jpg);
}

.pt_game_hlf,.game_hlf {
    background: url(../img/games/hlf.jpg);
}

.pt_game_zeus,.game_zeus {
    background: url(../img/games/zeus.jpg);
}

.pt_game_pmn,.game_pmn {
    background: url(../img/games/pmn.jpg);
}

.pt_game_bal,.game_bal {
    background: url(../img/games/bal.jpg);
}

.pt_game_7bal,.game_7bal {
    background: url(../img/games/7bal.jpg);
}

.pt_game_rofl,.game_rofl {
    background: url(../img/games/rofl.jpg);
}

.pt_game_rol,.game_rol {
    background: url(../img/games/rol.jpg);
}

.pt_game_chel,.game_chel {
    background: url(../img/games/chel.jpg);
}

.pt_game_plba,.game_plba {
    background: url(../img/games/plba.jpg);
}

.pt_game_rodl,.game_rodl {
    background: url(../img/games/rodl.jpg);
}

.pt_game_sbl,.game_sbl {
    background: url(../img/games/sbl.jpg);
}

.pt_game_vbal,.game_vbal {
    background: url(../img/games/vbal.jpg);
}

.pt_game_nc_bal,.game_nc_bal {
    background: url(../img/games/nc_bal.jpg);
}

.pt_game_nc_7bal,.game_nc_7bal {
    background: url(../img/games/nc_7bal.jpg);
}

.pt_game_hb,.game_hb {
    background: url(../img/games/hb.jpg);
}

.pt_game_ashadv,.game_ashadv {
    background: url(../img/games/ashadv.jpg);
}

.pt_game_ftsis,.game_ftsis {
    background: url(../img/games/ftsis.jpg);
}

.pt_game_athn,.game_athn {
    background: url(../img/games/athn.jpg);
}

.pt_game_furf,.game_furf {
    background: url(../img/games/furf.jpg);
}

.pt_game_ashamw,.game_ashamw {
    background: url(../img/games/ashamw.jpg);
}

.pt_game_arc,.game_arc {
    background: url(../img/games/arc.jpg);
}

.pt_game_art,.game_art {
    background: url(../img/games/art.jpg);
}

.pt_game_gtsatq,.game_gtsatq {
    background: url(../img/games/gtsatq.jpg);
}

.pt_game_bs,.game_bs {
    background: url(../img/games/bs.jpg);
}

.pt_game_bl,.game_bl {
    background: url(../img/games/bl.jpg);
}

.pt_game_bt,.game_bt {
    background: url(../img/games/bt.jpg);
}

.pt_game_ashbob,.game_ashbob {
    background: url(../img/games/ashbob.jpg);
}

.pt_game_bfb,.game_bfb {
    background: url(../img/games/bfb.jpg);
}

.pt_game_ctp2,.game_ctp2 {
    background: url(../img/games/ctp2.jpg);
}

.pt_game_cashfi,.game_cashfi {
    background: url(../img/games/cashfi.jpg);
}

.pt_game_ctiv,.game_ctiv {
    background: url(../img/games/ctiv.jpg);
}

.pt_game_catqk,.game_catqk {
    background: url(../img/games/catqk.jpg);
}

.pt_game_chl,.game_chl {
    background: url(../img/games/chl.jpg);
}

.pt_game_ashcpl,.game_ashcpl {
    background: url(../img/games/ashcpl.jpg);
}

.pt_game_gtscnb,.game_gtscnb {
    background: url(../img/games/gtscnb.jpg);
}

.pt_game_gtscbl,.game_gtscbl {
    background: url(../img/games/gtscbl.jpg);
}

.pt_game_c7,.game_c7 {
    background: url(../img/games/c7.jpg);
}

.pt_game_gtsdrdv,.game_gtsdrdv {
    background: url(../img/games/gtsdrdv.jpg);
}

.pt_game_dt,.game_dt {
    background: url(../img/games/dt.jpg);
}

.pt_game_dt2,.game_dt2 {
    background: url(../img/games/dt2.jpg);
}

.pt_game_dv2,.game_dv2 {
    background: url(../img/games/dv2.jpg);
}

.pt_game_dlm,.game_dlm {
    background: url(../img/games/dlm.jpg);
}

.pt_game_gtsdgk,.game_gtsdgk {
    background: url(../img/games/gtsdgk.jpg);
}

.pt_game_eas,.game_eas {
    background: url(../img/games/eas.jpg);
}

.pt_game_esmk,.game_esmk {
    background: url(../img/games/esmk.jpg);
}

.pt_game_evj,.game_evj {
    background: url(../img/games/evj.jpg);
}

.pt_game_ashfta,.game_ashfta {
    background: url(../img/games/ashfta.jpg);
}

.pt_game_fcgz,.game_fcgz {
    background: url(../img/games/fcgz.jpg);
}

.pt_game_gtsflzt,.game_gtsflzt {
    background: url(../img/games/gtsflzt.jpg);
}

.pt_game_fkmj,.game_fkmj {
    background: url(../img/games/fkmj.jpg);
}

.pt_game_ftg,.game_ftg {
    background: url(../img/games/ftg.jpg);
}

.pt_game_gtsfc,.game_gtsfc {
    background: url(../img/games/gtsfc.jpg);
}

.pt_game_fbr,.game_fbr {
    background: url(../img/games/fbr.jpg);
}

.pt_game_fow,.game_fow {
    background: url(../img/games/fow.jpg);
}

.pt_game_frtf,.game_frtf {
    background: url(../img/games/frtf.jpg);
}

.pt_game_fday,.game_fday {
    background: url(../img/games/fday.jpg);
}

.pt_game_fxf,.game_fxf {
    background: url(../img/games/fxf.jpg);
}

.pt_game_foy,.game_foy {
    background: url(../img/games/foy.jpg);
}

.pt_game_fdt,.game_fdt {
    background: url(../img/games/fdt.jpg);
}

.pt_game_fdtjg,.game_fdtjg {
    background: url(../img/games/fdtjg.jpg);
}

.pt_game_fmn,.game_fmn {
    background: url(../img/games/fmn.jpg);
}

.pt_game_ashfmf,.game_ashfmf {
    background: url(../img/games/ashfmf.jpg);
}

.pt_game_fff,.game_fff {
    background: url(../img/games/fff.jpg);
}

.pt_game_fnfrj,.game_fnfrj {
    background: url(../img/games/fnfrj.jpg);
}

.pt_game_ges,.game_ges {
    background: url(../img/games/ges.jpg);
}

.pt_game_gesjp,.game_gesjp {
    background: url(../img/games/gesjp.jpg);
}

.pt_game_glr,.game_glr {
    background: url(../img/games/glr.jpg);
}

.pt_game_glrj,.game_glrj {
    background: url(../img/games/glrj.jpg);
}

.pt_game_grel,.game_grel {
    background: url(../img/games/grel.jpg);
}

.pt_game_glg,.game_glg {
    background: url(../img/games/glg.jpg);
}

.pt_game_gro,.game_gro {
    background: url(../img/games/gro.jpg);
}

.pt_game_hlf2,.game_hlf2 {
    background: url(../img/games/hlf2.jpg);
}

.pt_game_hh,.game_hh {
    background: url(../img/games/hh.jpg);
}

.pt_game_ashhotj,.game_ashhotj {
    background: url(../img/games/ashhotj.jpg);
}

.pt_game_gtshwkp,.game_gtshwkp {
    background: url(../img/games/gtshwkp.jpg);
}

.pt_game_gts50,.game_gts50 {
    background: url(../img/games/gts50.jpg);
}

.pt_game_gtsir,.game_gtsir {
    background: url(../img/games/gtsir.jpg);
}

.pt_game_aztec,.game_aztec {
    background: url(../img/games/aztec.jpg);
}

.pt_game_irl,.game_irl {
    background: url(../img/games/irl.jpg);
}

.pt_game_jpgt,.game_jpgt {
    background: url(../img/games/jpgt.jpg);
}

.pt_game_gtsje,.game_gtsje {
    background: url(../img/games/gtsje.jpg);
}

.pt_game_gtsjzc,.game_gtsjzc {
    background: url(../img/games/gtsjzc.jpg);
}

.pt_game_gtsjxb,.game_gtsjxb {
    background: url(../img/games/gtsjxb.jpg);
}

.pt_game_gtsjhw,.game_gtsjhw {
    background: url(../img/games/gtsjhw.jpg);
}

.pt_game_kkg,.game_kkg {
    background: url(../img/games/kkg.jpg);
}

.pt_game_lndg,.game_lndg {
    background: url(../img/games/lndg.jpg);
}

.pt_game_ght_a,.game_ght_a {
    background: url(../img/games/ght_a.jpg);
}

.pt_game_kfp,.game_kfp {
    background: url(../img/games/kfp.jpg);
}

.pt_game_lm,.game_lm {
    background: url(../img/games/lm.jpg);
}

.pt_game_gts51,.game_gts51 {
    background: url(../img/games/gts51.jpg);
}

.pt_game_ms,.game_ms {
    background: url(../img/games/ms.jpg);
}

.pt_game_mgstk,.game_mgstk {
    background: url(../img/games/mgstk.jpg);
}

.pt_game_gtsmrln,.game_gtsmrln {
    background: url(../img/games/gtsmrln.jpg);
}

.pt_game_mfrt,.game_mfrt {
    background: url(../img/games/mfrt.jpg);
}

.pt_game_ashlob,.game_ashlob {
    background: url(../img/games/ashlob.jpg);
}

.pt_game_mcb,.game_mcb {
    background: url(../img/games/mcb.jpg);
}

.pt_game_nk,.game_nk {
    background: url(../img/games/nk.jpg);
}

.pt_game_pl,.game_pl {
    background: url(../img/games/pl.jpg);
}

.pt_game_pgv,.game_pgv {
    background: url(../img/games/pgv.jpg);
}

.pt_game_pst,.game_pst {
    background: url(../img/games/pst.jpg);
}

.pt_game_paw,.game_paw {
    background: url(../img/games/paw.jpg);
}

.pt_game_pnp,.game_pnp {
    background: url(../img/games/pnp.jpg);
}

.pt_game_gtspor,.game_gtspor {
    background: url(../img/games/gtspor.jpg);
}

.pt_game_rodz_g,.game_rodz_g {
    background: url(../img/games/rodz_g.jpg);
}

.pt_game_hrcls,.game_hrcls {
    background: url(../img/games/hrcls.jpg);
}

.pt_game_photk,.game_photk {
    background: url(../img/games/photk.jpg);
}

.pt_game_qop,.game_qop {
    background: url(../img/games/qop.jpg);
}

.pt_game_ririjc,.game_ririjc {
    background: url(../img/games/ririjc.jpg);
}

.pt_game_ririshc,.game_ririshc {
    background: url(../img/games/ririshc.jpg);
}

.pt_game_rky,.game_rky {
    background: url(../img/games/rky.jpg);
}

.pt_game_gtsrng,.game_gtsrng {
    background: url(../img/games/gtsrng.jpg);
}

.pt_game_sfh,.game_sfh {
    background: url(../img/games/sfh.jpg);
}

.pt_game_gtssmbr,.game_gtssmbr {
    background: url(../img/games/gtssmbr.jpg);
}

.pt_game_ssp,.game_ssp {
    background: url(../img/games/ssp.jpg);
}

.pt_game_samz,.game_samz {
    background: url(../img/games/samz.jpg);
}

.pt_game_shmst,.game_shmst {
    background: url(../img/games/shmst.jpg);
}

.pt_game_sis,.game_sis {
    background: url(../img/games/sis.jpg);
}

.pt_game_sisjp,.game_sisjp {
    background: url(../img/games/sisjp.jpg);
}

.pt_game_sib,.game_sib {
    background: url(../img/games/sib.jpg);
}

.pt_game_ashsbd,.game_ashsbd {
    background: url(../img/games/ashsbd.jpg);
}

.pt_game_spud,.game_spud {
    background: url(../img/games/spud.jpg);
}

.pt_game_sol,.game_sol {
    background: url(../img/games/sol.jpg);
}

.pt_game_gtsswk,.game_gtsswk {
    background: url(../img/games/gtsswk.jpg);
}

.pt_game_cnpr,.game_cnpr {
    background: url(../img/games/cnpr.jpg);
}

.pt_game_tpd2,.game_tpd2 {
    background: url(../img/games/tpd2.jpg);
}

.pt_game_thtk,.game_thtk {
    background: url(../img/games/thtk.jpg);
}

.pt_game_gtsgme,.game_gtsgme {
    background: url(../img/games/gtsgme.jpg);
}

.pt_game_lvb,.game_lvb {
    background: url(../img/games/lvb.jpg);
}

.pt_game_mmy,.game_mmy {
    background: url(../img/games/mmy.jpg);
}

.pt_game_donq,.game_donq {
    background: url(../img/games/donq.jpg);
}

.pt_game_tmqd,.game_tmqd {
    background: url(../img/games/tmqd.jpg);
}

.pt_game_ashtmd,.game_ashtmd {
    background: url(../img/games/ashtmd.jpg);
}

.pt_game_topg,.game_topg {
    background: url(../img/games/topg.jpg);
}

.pt_game_ttc,.game_ttc {
    background: url(../img/games/ttc.jpg);
}

.pt_game_ta,.game_ta {
    background: url(../img/games/ta.jpg);
}

.pt_game_trpmnk,.game_trpmnk {
    background: url(../img/games/trpmnk.jpg);
}

.pt_game_trl,.game_trl {
    background: url(../img/games/trl.jpg);
}

.pt_game_ub,.game_ub {
    background: url(../img/games/ub.jpg);
}

.pt_game_er,.game_er {
    background: url(../img/games/er.jpg);
}

.pt_game_vcstd,.game_vcstd {
    background: url(../img/games/vcstd.jpg);
}

.pt_game_gts52,.game_gts52 {
    background: url(../img/games/gts52.jpg);
}

.pt_game_whk,.game_whk {
    background: url(../img/games/whk.jpg);
}

.pt_game_gtswg,.game_gtswg {
    background: url(../img/games/gtswg.jpg);
}

.pt_game_ashwgaa,.game_ashwgaa {
    background: url(../img/games/wis.jpg);
}

.pt_game_wis,.game_wis {
    background: url(../img/games/wis.jpg);
}

.pt_game_gtswng,.game_gtswng {
    background: url(../img/games/gtswng.jpg);
}

.pt_game_wlg,.game_wlg {
    background: url(../img/games/wlg.jpg);
}

.pt_game_wlgjp,.game_wlgjp {
    background: url(../img/games/wlgjp.jpg);
}

.pt_game_wlcsh,.game_wlcsh {
    background: url(../img/games/wlcsh.jpg);
}

.pt_game_zcjb,.game_zcjb {
    background: url(../img/games/zcjb.jpg);
}

.pt_game_zcjbjp,.game_zcjbjp {
    background: url(../img/games/zcjbjp.jpg);
}

.pt_game_zctz,.game_zctz {
    background: url(../img/games/zctz.jpg);
}

.pt_game_ashadv,.game_ashadv {
    background: url(../img/games/ashadv.jpg);
}

.pt_game_savcas,.game_savcas {
    background: url(../img/games/savcas.jpg);
}

.pt_game_frtln,.game_frtln {
    background: url(../img/games/frtln.jpg);
}

.pt_game_hotktv,.game_hotktv {
    background: url(../img/games/hotktv.jpg);
}

.pt_game_ash3brg,.game_ash3brg {
    background: url(../img/games/ash3brg.jpg);
}

.pt_game_rodz,.game_rodz {
    background: url(../img/games/rodz.jpg);
}

.pt_game_cheaa,.game_cheaa {
    background: url(../img/games/cheaa.jpg);
}

.pt_game_ro_g,.game_ro_g {
    background: url(../img/games/ro_g.jpg);
}

.pt_game_gtsfpc,.game_gtsfpc {
    background: url(../img/games/gtsfpc.jpg);
}

.pt_game_aogro,.game_aogro {
    background: url(../img/games/aogro.jpg);
}

.pt_game_tclsc,.game_tclsc {
    background: url(../img/games/tclsc.jpg);
}

.pt_game_gtscb,.game_gtscb {
    background: url(../img/games/gtscb.jpg);
}

.pt_game_scs,.game_scs {
    background: url(../img/games/scs.jpg);
}

.pt_game_gtsru,.game_gtsru {
    background: url(../img/games/gtsru.jpg);
}

.pt_game_sfr,.game_sfr {
    background: url(../img/games/sfr.jpg);
}

.pt_game_rng2,.game_rng2 {
    background: url(../img/games/rng2.jpg);
}

.pt_game_skp,.game_skp {
    background: url(../img/games/skp.jpg);
}

.pt_game_dcv,.game_dcv {
    background: url(../img/games/dcv.jpg);
}

.pt_game_ashglss,.game_ashglss {
    background: url(../img/games/ashglss.jpg);
}

.pt_game_heavru,.game_heavru {
    background: url(../img/games/heavru.jpg);
}

.pt_game_sling,.game_sling {
    background: url(../img/games/sling.jpg);
}

.pt_game_slion,.game_slion {
    background: url(../img/games/slion.jpg);
}

.pt_game_haocs,.game_haocs {
    background: url(../img/games/haocs.jpg);
}

.pt_game_ba,.game_ba {
    background: url(../img/games/ba.jpg);
}

.pt_game_ro,.game_ro {
    background: url(../img/games/ro.jpg);
}

.pt_game_spr,.game_spr {
    background: url(../img/games/spr.jpg);
}
