.sub-banner{
	position:relative;
	margin: 0;
	padding: 0;
	height: 356px;
	width: 100%;
	background: url("../image/subbanner.png");
	background-size: cover;
	background-position: center;
}

.sub-content{
	background-color: #5252ff;
	overflow: auto;
	padding: 30px 0;
}

.submenu-wrapper{
	width: 240px;
	float: left;
	background-color: #1207a6;
	border: 3px solid #ecd866;
	box-sizing: border-box;
}

.submenu{
	text-align: left;
}

.submenu-button{
	color: #FFF;
    font-size: 10.5pt;
    display: block;
    padding: 20px;
    line-height: 20px;
    margin: 1px;
    height: 75px;
    box-sizing: border-box;
    position: relative;
}

.submenu-links:hover{
	outline: 1px solid #ce8505;
	background-color: linear-gradient(90deg, #201c1c, #550000);
	background: -webkit-linear-gradient(90deg, #201c1c, #550000); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(90deg, #201c1c, #550000); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(90deg, #201c1c, #550000);
}

.submenu-links.active{
	outline: 1px solid #ce8505;
	background-color: linear-gradient(90deg, #201c1c, #550000);
	background: -webkit-linear-gradient(90deg, #201c1c, #550000); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(90deg, #201c1c, #550000); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(90deg, #201c1c, #550000);
  	pointer-events: none;
}

.submenu-button:after{
	content: "";
    position: relative;
    left: -21px;
    display: block;
    width: 122%;
    bottom: -21px;
    height: 1px;
    border-bottom: 3px solid #ecd866;
}

.submenu-button:first-child .submenu-icon{
	background: url(../image/submenu.png) 0 0;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.submenu-button:nth-child(2) .submenu-icon{
	background: url(../image/submenu.png) 0 -33px;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.submenu-button:nth-child(3) .submenu-icon{
	background: url(../image/submenu.png) 0 -66px;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.submenu-button:nth-child(4) .submenu-icon{
	background: url(../image/submenu.png) 0 -99px;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}
.submenu-button:nth-child(5) .submenu-icon{
	background: url(../image/submenu.png) 0 66px;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.submenu-button:nth-child(6) .submenu-icon{
	background: url(../image/submenu.png) 0 32px;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.submenu-button:hover .submenu-text1,
.submenu-button:hover .submenu-text2,{
	color: #ffea69;
}

.submenu-button.active .submenu-text1,
.submenu-button.active .submenu-text2{
	color: #ffea69;
	pointer-events: none;
}

.submenu-text1{
	margin-left: 70px;
    display: block;
    font-size: 13pt;
    position: absolute;
    top: 20px;
}

.submenu-text2{
	margin-left: 70px;
    display: block;
    font-size: 9pt;
    position: absolute;
    top: 40px;
}

.subcontent-wrapper{
	width: 767px;
	float: right;
	border: 1px solid #484848;
/*	margin-right: 55px*/
	box-sizing: border-box;
	color: #FFF;
}

.subcontent{
	padding: 20px 30px;
	background-color: #1207a6;
	font-size: 11pt;
}

.submenu-brand{
	background: url(../image/chengxin.png) center no-repeat;
	width: 197px;
	height: 165px;
	margin: auto;
}

.subtitle{
	color: #ffea69;
	padding-bottom: 20px;
}

.sub-contents ul{
	list-style: none;
	margin: 0;
	padding: 0;
	bottom: 10px;
}

.subcontent-wrapper .subcontent .top.spc,
.subcontent-wrapper .subcontent .spc{
	list-style: none;
	padding-left: 30px;
}

.subcontent-wrapper .subcontent .spc.last{
	margin-bottom: 25px;
}

.subcontent-wrapper .subcontent .mid li{
	margin-bottom: 5px;
	font-size: 10pt;
}

.subcontent-wrapper .subcontent .top{
	margin-top: 25px;
}

.subcontent-wrapper .subcontent .list-top{
	margin-top: 15px;
}

.subcontent-wrapper .subcontent table{
	width: 100%;
	color: #fff;
	border-collapse: collapse;
	border: 1px solid #000;
	text-align: center;
}

.subcontent-wrapper .subcontent table tr{
	height: 60px;
	border-bottom: 1px solid #000;
}

.subcontent-wrapper .subcontent table tr th:not(:last-child),
.subcontent-wrapper .subcontent table tr td:not(:last-child){
	border-right: 1px solid #000;
}

.subcontent-wrapper .subcontent table thead{
	background-color: #FF6600;
}

.subcontent-wrapper .subcontent table tbody{
	background-color: #757575;
}

