body{
	background-color: #0b1c93;
	min-width: 1024px;
	margin: 0;
	padding: 0;
	font-family: Arial;
	overflow: hidden;
	overflow-y: auto;
}

a{
	text-decoration: none;
	color: #FFF;
}

a i{
	text-decoration: none;
	color: #FFF;
}

p{
	margin: 0;
	padding: 0;
}

table, th{
	border: none;
	padding: 10px;
}

table, td{
	border: none;
	padding: 10px;
	background-color: none;
}

.main-wrapper{
	width: 1024px;
	max-width: 1024px;
	margin: 0 auto;
    position: relative;
    overflow: visible;
}

.top{
	height: 32px;
	width: 100%;
	font-size: 10pt;
	color: #FFF;
	line-height: 32px;
}

.topleft{
	float: left;
}

.topright{
	float: right;
}

.quicklinks{
	display: inline-block;
	line-height: 32px;
	position: relative;
}

.qlinks{
	display: inline-block;
    padding-right: 20px;
}

.qlinks:first-child:after,
.qlinks:nth-child(2):after,
.qlinks:nth-child(3):after,
.qlinks:nth-child(4):after{
	content:"|";
	display: inline-block;
    padding: 0 10px;
    position: absolute;
}

.country{
	background: url(../image/flag.png) center no-repeat;
	height: 32px;
	width: 75px;
	display: inline-block;
	vertical-align: top;
}

.menu{
	height: 110px;
	width: 100%;
	background: url(../image/bg_menu.png) top center no-repeat;
	color: #FFF;
}

.logo{
	float: left;
	height: 105px;
	width: 302px;
	background: url(../image/logo.png) top left no-repeat;
	margin: 3px 0;
}

.navi{
	float: right;
    line-height: 39px;
    font-size: 13pt;
    padding: 30px 0;
}

.mnavi{
	color: #FFF;
	display: inline-block;
    padding: 0 12px;
    box-sizing: border-box;
    font-size: 13px;
    transition: all 200ms ease-in-out;
}

.mnavi:hover,
.mnavi.promo:hover{
	background: rgb(232,209,84); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(232,209,84,1) 0%, rgba(253,245,174,1) 50%, rgba(239,208,97,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(232,209,84,1) 0%,rgba(253,245,174,1) 50%,rgba(239,208,97,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(232,209,84,1) 0%,rgba(253,245,174,1) 50%,rgba(239,208,97,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d154', endColorstr='#efd061',GradientType=1 ); /* IE6-9 */
	color: #1b191a;
}

.mnavi.promo.active,
.mnavi.active{
	background: rgb(232,209,84); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(232,209,84,1) 0%, rgba(253,245,174,1) 50%, rgba(239,208,97,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(232,209,84,1) 0%,rgba(253,245,174,1) 50%,rgba(239,208,97,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(232,209,84,1) 0%,rgba(253,245,174,1) 50%,rgba(239,208,97,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d154', endColorstr='#efd061',GradientType=1 ); /* IE6-9 */
	color: #1b191a;
	pointer-events: none;
}

.mnavi.promo{
	color: #f9f09f;
}

.mnavi .hotbubble {
    color: #FFF;
    background-color: #e30928;
    display: block;
    width: 26px;
    height: 14px;
    line-height: 15px;
    border-radius: 3px;
    margin: 15px 20px;
    position: absolute;
    top: 4px;
    right: 175px;
    font-size: 7pt;
    text-align: center;
}

.mnavi .hotbubble:after {
   content:"";
   position: absolute;
   top: 13px;
   width: 0;
   height: 0;
   border-top: 5px solid #e30928;
   border-right: 5px solid transparent;
   right: 15px;
}

.main-banner{
	height: 460px;
	width: 100%;
	overflow: hidden;
}

.main-banner .swiper-container{
	width: 100%;
	height: 460px;
}

.main-banner img{
	width: 100%;
	height: 100%;
}

.banner{
}

.login-form{
	position: absolute;
	width: 250px;
	height: 320px;
	z-index: 9;
	right: 0;
	top: 60px;
	background-image: url(../image/login-form.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	box-sizing: border-box;
}

.sub-banner .login-form{
	top: 20px;
}

.login-form .login-title{
	height: 35px;
	width: 100%;
	background-image: url(../image/login-title.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 5px;
}

.login-form .login-input{
	width: 100%;
	margin: 0 auto 5px;
	border: 1px solid #ccc;
	color: #ccc;
	background-color: transparent;
	height: 35px;
	line-height: 35px;
	display: table;
}

.login-form .login-input label{
	display: inline-block;
	width: 20%;
	display: table-cell;
}

.login-form .login-input label.username{
	background-image: url(../image/user-icon.png);
	background-position: center;
	background-repeat: no-repeat;
}

.login-form .login-input label.password,
.login-form .login-input label.code{
	background-image: url(../image/lock-icon.png);
	background-position: center;
	background-repeat: no-repeat;
}

.login-form .button{
	border-radius: 7px;
	height: 40px;
	margin-bottom: 5px;
	cursor: pointer;
}

.login-form .button.login{
	width: calc(50% - 5px);
	margin-right: 5px;
	background: rgb(232,209,84); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(232,209,84,1) 0%, rgba(253,245,174,1) 50%, rgba(239,208,97,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(232,209,84,1) 0%,rgba(253,245,174,1) 50%,rgba(239,208,97,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(232,209,84,1) 0%,rgba(253,245,174,1) 50%,rgba(239,208,97,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d154', endColorstr='#efd061',GradientType=1 ); /* IE6-9 */
	outline: none;
	border: 0;
	font-size: 14px;
}

.login-form .button.forget{
	width: calc(50% - 5px);
	color: #ffd536;
	border: 1px solid #ffd536;
	outline: none;
	font-size: 14px;
	background-color: transparent;
}

.login-form .button.register{
	width: 100%;
	background-color: #4159FA;
	color: #fff;
	outline: none;
	border: 0;
	font-size: 14px;
}

.login-form .login-input input{
	width: 80%;
	display: table-cell;
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: 0;
	outline: none;
	margin: 0;
	padding: 0;
	color: #fff;
}

.marquee{
	position: absolute;
	left: 0;
	right: 0;
	height: 35px;
	line-height: 35px;
	top: -20px;
	background-color: #132AB7;
	border-radius: 50px;
	color: #fff;
	box-sizing: border-box;
	z-index: 1;
	padding-left: 150px;
	background-image: url(../image/latestnews.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	font-size: 13px;
}

.sub-banner{
	position:relative;
	margin: 0;
	padding: 0;
	height: 356px;
	width: 100%;
	background: url("../image/subbanner.png");
	background-size: cover;
	background-position: center;
}

.sub-content{
	background-color: #5252ff;
	height: auto;
}

.sub-content{
	background-color: #5252ff;
	overflow: auto;
	padding: 30px 0;
}

.submenu-wrapper{
	width: 240px;
	float: left;
	background-color: #1207a6;
	border: 3px solid #ecd866;
	box-sizing: border-box;
}

.submenu{
	text-align: left;
}

.submenu-button{
	color: #FFF;
    font-size: 10.5pt;
    display: block;
    padding: 20px;
    line-height: 20px;
    margin: 1px;
    height: 75px;
    box-sizing: border-box;
    position: relative;
}

.submenu-links:hover{
	outline: 1px solid #ce8505;
	background-color: linear-gradient(90deg, #201c1c, #550000);
	background: -webkit-linear-gradient(90deg, #201c1c, #550000); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(90deg, #201c1c, #550000); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(90deg, #201c1c, #550000);
}

.submenu-links.active{
	outline: 1px solid #ce8505;
	background-color: linear-gradient(90deg, #201c1c, #550000);
	background: -webkit-linear-gradient(90deg, #201c1c, #550000); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(90deg, #201c1c, #550000); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(90deg, #201c1c, #550000);
  	pointer-events: none;
}

.submenu-button:after{
	content: "";
    position: relative;
    left: -21px;
    display: block;
    width: 122%;
    bottom: -21px;
    height: 1px;
    border-bottom: 3px solid #ecd866;
}

.submenu-button:first-child .submenu-icon{
	background: url(../image/submenu.png) 0 0;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.submenu-button:nth-child(2) .submenu-icon{
	background: url(../image/submenu.png) 0 -33px;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.submenu-button:nth-child(3) .submenu-icon{
	background: url(../image/submenu.png) 0 -66px;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.submenu-button:nth-child(4) .submenu-icon{
	background: url(../image/submenu.png) 0 -99px;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}
.submenu-button:nth-child(5) .submenu-icon{
	background: url(../image/submenu.png) 0 66px;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.submenu-button:nth-child(6) .submenu-icon{
	background: url(../image/submenu.png) 0 32px;
	width: 32px;
	height: 32px;
	margin-left: 20px;
}

.submenu-button:hover .submenu-text1,
.submenu-button:hover .submenu-text2,{
	color: #ffea69;
}

.submenu-button.active .submenu-text1,
.submenu-button.active .submenu-text2{
	color: #ffea69;
	pointer-events: none;
}

.submenu-text1{
	margin-left: 70px;
    display: block;
    font-size: 13pt;
    position: absolute;
    top: 20px;
}

.submenu-text2{
	margin-left: 70px;
    display: block;
    font-size: 9pt;
    position: absolute;
    top: 40px;
}

.subcontent-wrapper{
	width: 767px;
	float: right;
	border: 1px solid #484848;
/*	margin-right: 55px*/
	box-sizing: border-box;
	color: #FFF;
}

.subcontent{
	padding: 20px 30px;
	background-color: #1207a6;
	font-size: 11pt;
}

.submenu-brand{
	background: url(../image/chengxin.png) center no-repeat;
	width: 197px;
	height: 165px;
	margin: auto;
}

.subtitle{
	color: #ffea69;
	padding-bottom: 20px;
}

.sub-contents ul{
	list-style: none;
	margin: 0;
	padding: 0;
	bottom: 10px;
}

.subcontent-wrapper .subcontent .top.spc,
.subcontent-wrapper .subcontent .spc{
	list-style: none;
	padding-left: 30px;
}

.subcontent-wrapper .subcontent .spc.last{
	margin-bottom: 25px;
}

.subcontent-wrapper .subcontent .mid li{
	margin-bottom: 5px;
	font-size: 10pt;
}

.subcontent-wrapper .subcontent .top{
	margin-top: 25px;
}

.subcontent-wrapper .subcontent .list-top{
	margin-top: 15px;
}

.subcontent-wrapper .subcontent table{
	width: 100%;
	color: #fff;
	border-collapse: collapse;
	border: 1px solid #000;
	text-align: center;
}

.subcontent-wrapper .subcontent table tr{
	height: 60px;
	border-bottom: 1px solid #000;
}

.subcontent-wrapper .subcontent table tr th:not(:last-child),
.subcontent-wrapper .subcontent table tr td:not(:last-child){
	border-right: 1px solid #000;
}

.subcontent-wrapper .subcontent table thead{
	background-color: #FF6600;
}

.subcontent-wrapper .subcontent table tbody{
	background-color: #757575;
}

.sub-banner .marquee{
	background-color: #5252ff;
	top: initial;
	top: 340px;
	z-index: 99;
}

.game{
	height: 204px;
	position: relative;
	background: url(../image/bg_game.png) center / cover no-repeat;
}

.game-wrapper{
	padding: 20px 0;
}

.game-box{
	width: 115px;
	height: 155px;
	display: inline-block;
	position: relative;
	text-align: center;
}

.game-box:first-child,
.game-box:nth-child(2),
.game-box:nth-child(3),
.game-box:nth-child(4),
.game-box:nth-child(5),
.game-box:nth-child(6),
.game-box:nth-child(7){
	padding-right: 10px;
}

.game-box:last-child{
	padding-right: 0;
}

.game-pic{
	position: absolute;
}

.game-wrapper .game-box:first-child .game-pic{
	background: url(../image/games.png) 0 0;
	height: 116px;
	width: 116px;
}

.game-wrapper .game-box:nth-child(2) .game-pic{
	background: url(../image/games.png) -127px 0;
	height: 116px;
	width: 116px;
}

.game-wrapper .game-box:nth-child(3) .game-pic{
	background: url(../image/games.png) -253px 0;
	height: 116px;
	width: 116px;
}

.game-wrapper .game-box:nth-child(4) .game-pic{
	background: url(../image/games.png) -380px 0;
	height: 116px;
	width: 116px;
}

.game-wrapper .game-box:nth-child(5) .game-pic{
	background: url(../image/games.png) 497px 0;
	height: 116px;
	width: 116px;
}

.game-wrapper .game-box:nth-child(6) .game-pic{
	background: url(../image/games.png) 370px 0;
	height: 116px;
	width: 116px;
}

.game-wrapper .game-box:nth-child(7) .game-pic{
	background: url(../image/games.png) 242px 0;
	height: 116px;
	width: 116px;
}

.game-wrapper .game-box:last-child .game-pic{
	background: url(../image/games.png) 116px 0;
	height: 116px;
	width: 116px;
}

.game-text{
	position: absolute;
	color: #FFF;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 13pt;
}

.hot{
	height: 570px;
	background: url(../image/bg_hot.png) top center no-repeat;
	padding: 5px;
}

.hot-title{
	height: 37px;
	background: url(../image/game_title.png) top center no-repeat;
}

.hot-wrapper{
	position: relative;
	padding: 40px 40px 0 40px;
    margin: auto;
}

.hotgames:first-child{
	background: url(../image/hot1.png) top center no-repeat;
	height: 461px;
	width: 291px;
	display: inline-block;
	padding: 0 15px;
}

.hotgames:nth-child(2){
	background: url(../image/hot2.png) top center no-repeat;
	height: 461px;
	width: 291px;
	display: inline-block;
}
	
.hotgames:last-child{
	background: url(../image/hot3.png) top center no-repeat;
	height: 461px;
	width: 291px;
	display: inline-block;
	padding: 0 15px;
}

.mobilebet{
	height: 344px;
	background-color: #1b1b1b;
}

.mobilebet:before{
	content:"";
	height: 223px;
	background-color: #282828;
	position: absolute;
	width: 100%
}

.race-car{
	background: url(../image/car.png) top left no-repeat;
	height: 381px;
	width: 612px;
	position: absolute;
	left: -120px;
    top: -20px;
}

.mbet{
	background: url(../image/mobilebet.png) top left no-repeat;
	height: 182px;
	width: 577px;
	position: absolute;
	margin: 20px 0;
	right: 0;
}

.support{
	background: url(../image/support.png) top left no-repeat;
	height: 31px;
    width: 566px;
    margin: 40px 0;
    position: absolute;
    right: 0;
    top: 225px;
}

.flow{
	height: 90px;
	background-color: #e8faff;
	padding: 15px 0;
    box-sizing: border-box;
}

.game-flow{
	background: url(../image/gameflow.png);
	height: 60px;
	width: 994px;
	margin: auto;
    top: 10px;
}

.footer{
	height: 186px;
	text-align: center;
	color: #FFF;
	font-size: 10pt;
}

.payment{
	background: url(../image/payments.png) center no-repeat;
	height: 66px;
}

.footlinks{
	height: 33px;
	width: 100%;
	background: #1207a6; /* Old browsers */
	background: -moz-linear-gradient(left, #1207a6 0%, #4b67f8 20%, #4b67f8 80%, #1207a6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1207a6 0%,#4b67f8 20%,#4b67f8 80%,#1207a6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1207a6 0%,#4b67f8 20%,#4b67f8 80%,#1207a6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1207a6', endColorstr='#1207a6',GradientType=1 ); /* IE6-9 */
	line-height: 33px;
	position: relative;
	display: inline-block;
}

.flinks{
	display: inline-block;
    padding-right: 20px;
}

.flinks:first-child:after,
.flinks:nth-child(2):after,
.flinks:nth-child(3):after,
.flinks:nth-child(4):after,
.flinks:nth-child(5):after{
	content:"|";
	display: inline-block;
    padding: 0 10px;
    position: absolute;
}

.statement{
	height: 40px;
	line-height: 40px;
}

.copyright{
	height: 47px;
}

.floatright{
	background: url(../image/customer.png)no-repeat;
    height: 511px;
    width: 157px;
    right: 0;
    position: fixed;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
}

.rules-wrapper{
	padding: 20px 0;
}

.rules-box{
	width: calc(99% / 3);
	height: 175px;
	display: inline-block;
	position: relative;
	text-align: center;
	margin: 0;
	/*margin-bottom: 20px;*/
}

.rules-pic{
	position: absolute;
}

.rules-wrapper .rules-box:first-child .rules-pic{
	background: url(../image/game1.jpg) top center / cover no-repeat;
	height: 127px;
	width: 100%;
}

.rules-wrapper .rules-box:nth-child(2) .rules-pic{
	background: url(../image/game2.jpg) top center / cover no-repeat;
	height: 127px;
	width: 100%;
}

.rules-wrapper .rules-box:nth-child(3) .rules-pic{
	background: url(../image/game3.jpg) top center / cover no-repeat;
	height: 127px;
	width: 100%;
}

.rules-wrapper .rules-box:nth-child(4) .rules-pic{
	background: url(../image/game4.jpg) top center / cover no-repeat;
	height: 127px;
	width: 100%;
}

.rules-wrapper .rules-box:nth-child(5) .rules-pic{
	background: url(../image/game5.jpg) top center / cover no-repeat;
	height: 127px;
	width: 100%;
}

.rules-wrapper .rules-box:nth-child(6) .rules-pic{
	background: url(../image/game6.jpg) top center / cover no-repeat;
	height: 127px;
	width: 100%;
}

.rules-wrapper .rules-box:nth-child(7) .rules-pic{
	background: url(../image/game7.jpg) top center / cover no-repeat;
	height: 127px;
	width: 100%;
}

.rules-wrapper .rules-box:nth-child(8) .rules-pic{
	background: url(../image/game8.jpg) top center / cover no-repeat;
	height: 127px;
	width: 100%;
}

.rules-wrapper .rules-box:last-child .rules-pic{
	background: url(../image/game9.jpg) top center / cover no-repeat;
	height: 127px;
	width: 100%;
}

.rules-content{
	width: 100%;
    height: 49px;
    position: absolute;
    background-color: #1207a6;
    bottom: 0;
}

.rules-text{
	position: absolute;
	color: #FFF;
	font-size: 13pt;
    line-height: 36pt;
    padding-left: 18px;
}

.rules-button{
	text-decoration: none;
	color: #010101;
    background-color: #ffea69;
    display: block;
    width: 78px;
    height: 29px;
    font-size: 10pt;
    line-height: 29px;
    margin: 10px;
    text-align: center;
    border-radius: 7px;
    float: right;
}

.rules-button:hover{
	color: #FFF;
	background-color: #ef3123;
}

.subcontent-nav{
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
}

.subcontent-nav li{
	display: inline-block;
	position: relative;
}

.subcontent-nav li a{
	text-decoration: none;
	color: #ffea69;
	padding: 6px 16px;
}

.subcontent-nav li a.active{
	background-color: #5151FF;
}

.register-form{
	margin-bottom: 35px;
}

.register-form .field-input{
	display: block;
	margin-bottom: 5px;
}


.register-form .field-input label,
.register-form .field-input input{
	display: inline-block;
	vertical-align: middle;
}

.register-form .field-input label{
	width: 100px;
}

.register-form .field-input input{
	margin: 0;
	padding: 0;
}

.register-form .field-input .code{
	display: inline-block;
}

.register-form .field-input .info{
	display: block;
	padding-left: 105px;
	font-size: 12px;
	color: #ccc;
}