body{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Microsoft YaHei",Tahoma,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: rgba(55,55,55,0.8);
}

.image-container{
	background: url(../img/temp.png) top no-repeat;
	width: 80%;
	height: 500px;
	margin: 40px auto;
	background-size: contain;
}

.message{
	font-size: 44px;
	position: absolute;
	top: 0;
}