body {
	font-family: "Microsoft YaHei",Tahoma,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #fff;
	min-width: 1280px;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6{
	background-size: cover;
	background-position: center;
}

#section1{
	background-image: url(../img/page1bg.jpg);
}

#section2{
	background-image: url(../img/page2bg.jpg);
}

#section3{
	background-image: url(../img/page3bg.jpg);
}

#section4{
	background-image: url(../img/page4bg.jpg);
}

#section5{
	background-image: url(../img/page5bg.jpg);
}

#section6{
	background-image: url(../img/page6bg.jpg);
}

.headernavi {
	width: 100%;
	height: 60px;
	background-image:url(../img/headerbg.png);
	background-position:center;
	background-repeat:no-repeat;
	position: fixed;
	top: 0;
	z-index: 999;
	opacity:0;
	
}

.bullets {
	position: absolute;
	bottom: 70px;
	left: -70px;
	margin-left: 50%;
	display: none;

}

.bullet {
	width: 60px;
	height: 6px;
	background-color: #000;
	margin-right: 10px;
	-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
float: left;
cursor: pointer;
}

.bullet.active {
	background-color: #fff;
}

.headerline {
	width: 100%;
	height: 20px;
	background-image:url(../img/headerline_tile.png);
	background-position:center;
	position: absolute;
	top: 60px;
}

.ball1 {
	position: absolute;
	top: 273px;
	left: 631px;

}

.ball2 {
	position: absolute;
	top: 272px;
	left: 628px;

}

.ball3 {
	position: absolute;
	top: 263px;
	left: 623px;

}

.ball4 {
	position: absolute;
	top: 264px;
	left: 625px;

}

.ball5 {
	position: absolute;
	top: 277px;
	left: 632px;

}
.poker{
		position: fixed;
		top: 170px;
		right: 0;
		z-index: 999;

	}
.poker img{
		float: right;
		width: 115px;
	}

.preloader {
	width: 	311px;
	height: 119px;
	position: relative;
	margin: 0 auto 0  auto;
	padding-top: 16%;
}



.preloaderlogo {
	width: 311px;
	height: 119px;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity:0;
}

.page1title {
	margin-top: 5px;
	margin-left: 2px;	
	opacity: 0;
}
.mouse {
	margin-left: 2px;
	margin-top: 8px;
}

.navigation {
	width: 1070px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}

.mainlogo {
	margin: 2px 5px 0 150px;
	float: left;
}

.navicontainer {
	width: 100%;
	height: 80px;
	position:absolute;
	top: 0;
	left: 305px;
}

.navitm {
	float: left;
	width: 73px;
	margin: 20px 8px;	
	text-align: center;
	font-style:italic;
	color: #fff;
}

.navitm a {
	text-decoration: none;
	color: #fff;	
}

.navitm.more{
	width: 80px;
	height: 62px;
	margin: auto;
	font-style: normal;
	position: relative;
	-webkit-transform: skewX(-16deg);
	    -ms-transform: skewX(-16deg);
	        transform: skewX(-16deg);
}

.navitm.more > a{
	position: absolute;
	display: block;
	line-height: 62px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.navitm.more > a:before{
	content: '';
	position: absolute;
	width: 0; 
	height: 0; 
	top: 26px;
	right: 0px;
	border-left: 3px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
}

.navitm.more > a:hover .more-navitm{
	opacity: 1;
	visibility: visible;
}

.more-navitm{
	opacity: 0;
	visibility: hidden;
	top: 60px;
	right: -15px;
	right: -20px;
	position: absolute;
	width: 200px;
	height: auto;
	-webkit-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.more-navitm:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: -1;

}

.more-navitm ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.more-navitm ul li{
	display: block;
	padding: 10px 0;
	line-height: 30px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: rgba(255,255,255,0);
	-webkit-transition: background-color 200ms ease-in-out;
	-o-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
}

.more-navitm ul li:hover{
	background-color: rgba(255,255,255,0.1);
}

.navi1roll1 {
	position: absolute;
	top:0;
	left: 300px;	
	display: none;
}

.navi1roll2 {
	position: absolute;
	top:0;
	left: 388px;	
	display: none;
}

.navi1roll3 {
	position: absolute;
	top:0;
	left: 476px;
	display: none;
}

.navi1roll4 {
	position: absolute;
	top:0;
	left: 564px;	
	display: none;
}

.navi1roll5 {
	position: absolute;
	top:0;
	left: 652px;
	display: none;
}

.navi1roll6 {
	position: absolute;
	top:0;
	left: 740px;
	display: none;
}

.navi1roll7 {
	position: absolute;
	top:0;
	left: 828px;
	display: none;
}

/* content */

.container {
	width: 1280px;
	height: 600px;
	margin: 0 auto;
	position: relative;
}

/* content page1 */

.mickey1 {
	position: absolute;
	top: 70px;
	left: 136px;
	opacity: 0;
}

.page1txt1 {
	position: absolute;
	top: 212px;
	left: -144px;
	opacity: 0;
}

.page1txt2 {
	position: absolute;
	top: 278px;
	left: 849px;
	opacity: 0;
}

.star1 {
	position: absolute;
	float: left;
	left: 96px;
	top: 101px;
	opacity: 0;
	
}

.star2 {
	position: absolute;
	float: left;
	left: 726px;
	top: 271px;
	opacity: 0;
}
.star3 {
	position: absolute;
	float: left;
	left: 875px;
	top: 64px;
}
.star4 {
	position: absolute;
	float: left;
	left: 1000px;
	top: 221px;
	opacity: 0;
}
.star5 {
	position: absolute;
	float: left;
	left: 493px;
	top: 417px;
	opacity: 0;
}
.star6 {
	position: absolute;
	float: left;
	left: 834px;
	top: 251px;
	opacity: 0;
}
.star7 {
	position: absolute;
	float: left;
	left: 60px;
	top: 402px;
	opacity: 0;
}
.star8 {
	position: absolute;
	float: left;
	left: 665px;
	top: 126px;
	opacity: 0;
}
.star9 {
	position: absolute;
	float: left;
	left: 512px;
	top: 181px;
	opacity: 0;
}
.star10 {
	position: absolute;
	float: left;
	left: 319px;
	top: 123px;
	opacity: 0;
}

.star11 {
	position: absolute;
	float: left;
	left: 194px;
	top: 320px;
	opacity: 0;
}

/* content page 2 */

.groupm {
	position: absolute;
	top: 153px;
	left: 279px;
	opacity: 0;
	width: 161px;
}


#sec2container {
	opacity: 0;
}


.page2txt2 {
	position: absolute;
	top: 145px;
	left: 1032px;
	opacity: 0;
}

.page2txt3 {
	position: absolute;
	top: 245px;
	left: 998px;
	opacity: 0;
}

.page2txt4 {
	position: absolute;
	top: 348px;
	left: 964px;
	opacity: 0;
}

.page2itembg {
	position: absolute;
	top: 27px;
	left: 144px;
}

/*  content page 3 */

.gamelist {
	position: absolute;
	top: 0px;
    left: 30px;	
}

.page3ani2 {
	display: none;
}

.page3click1 {
	position: absolute;
    top: 480px;
    left: 920px;
    width: 280px;
    height: 60px;
	cursor: pointer;
}

.page3click2 {
	position: absolute;
    top: 417px;
    left: 850px;
    width: 300px;
    height: 60px;
	cursor: pointer;
	
}

/* content page 4 */
.appcontainer {
	position: absolute;
	    top: 30px;
    left: 50px;
}


.page4ani1, .page4ani2, .page4_1ani1, .page4_1ani2, .page4_1ani3, .page4_2ani1, .page4_2ani2, .page4_2ani3 {
	display: none;
	position: absolute;
}

.page4_1ani2, .page4_2ani2 {
	top: 40px;
    left: 260px;
}

.page4_1ani3 {
	top: 310px;
    left: 472px;
}

.page4_2ani3 {
	top: 280px;
    left: 432px;
}

.page4click1 {
	position: absolute;
top: 95px;
    left: 960px;
    width: 260px;
    height: 60px;
	cursor: pointer;
}

.page4click2 {
	position: absolute;
    top: 45px;
    left: 850px;
    width: 260px;
    height: 50px;
	cursor: pointer;
}


#section4 h1 {
	font-size: 20px;
	font-weight: normal;
	color: 	#fff4be;
	margin: 0;
	text-shadow: 2px 2px 4px #000000;
	letter-spacing: 2px;
	    line-height: 20px;
}

#section4 p {
	font-size: 12px;
	font-weight: normal;
	color: 	#fff;
	margin: 4px 0 0 0;
	line-height: 17px;
	text-shadow: 2px 2px 4px #000000;
}



.text1click {
	position: absolute;
	display: none;
	top: 7px;
	left: 123px;
}

.text2click {
	position: absolute;
	display: none;
	top: 4px;
	left: 206px;
}

.text3click {
	position: absolute;
	display: none;
	left: 307px;
	top: -29px;
}

.text4click {
	position: absolute;
	display: none;
	top: -1px;
	left: 290px;
}

.text5click {
	position: absolute;
	display: none;
	top: 0px;
	left: 136px;
}

.text6click {
	position: absolute;
	display: none;
	top: 4px;
	left: 179px;
}

.txt1 {
	position: absolute;
	top: 36px;
	left: 18px;
	cursor: pointer;
}


.txt2 {
	position: absolute;
	top: 33px;
	left: 65px;
	cursor: pointer;
}

.txt3 {
	position: absolute;
	top: 31px;
	left: 127px;
	cursor: pointer;
}

.txt4 {
	position: absolute;
	top: 29px;
	left: 74px;
	cursor: pointer;
}

.txt5 {
	position: absolute;
	top: 31px;
	left: 7px;
	cursor: pointer;
}

.txt6 {
	position: absolute;
	top: 32px;
	left: 7px;
	cursor: pointer;
}

/* content page 5  */

.page5ani1, .page5ani2 {
	display: none;
}

.page5title {
	position: absolute;
	top: 70px;
    left: 900px;
}

.handphone1, .handphone2 {
	position: absolute;
	top: 90px;
	left: 196px;
	opacity: 0;
}

.page5_1txt1, .page5_2txt1 {
	position: absolute;
	top: 235px;
	left: 913px;
	opacity: 0;
}

.page5_1txt2, .page5_2txt2 {
	position: absolute;
	top: 360px;
	left: 913px;
	opacity: 0;
}

.page5click1 {
	position: absolute;
	top: 140px;
    left: 960px;
    width: 290px;
    height: 60px;
	cursor: pointer;
}

.page5click2 {
	position: absolute;
	    top: 77px;
    left: 900px;
    width: 290px;
    height: 60px;
	
	cursor: pointer;
}

/* content page 6 */

.page6txt1, .page6txt2, .page6txt3, .page6txt4 {
	color: #fdecba;
	text-shadow: 2px 2px 4px #000000;
	font-style: italic;
	opacity: 0;
	font-size: 18px;
}
.page6txt1 {
	position: absolute;
	top: 63px;
	left: 342px;
}
.page6txt2 {
	position: absolute;
	top: 166px;
	left: 822px;
}

.page6txt3 {
	position: absolute;
	top: 325px;
	left: 245px;
}

.page6txt4 {
	position: absolute;
	top: 409px;
	left: 816px;
}

.page6img1 {
	position: absolute;
	top: 74px;
	left: -103px;
	opacity: 0;
}

.page6img2 {
	position: absolute;
	top: 40px;
	left: 635px;
	opacity: 0;
}

.page6img3 {
	position: absolute;
	top: 182px;
	left: 276px;
	opacity: 0;
}

.page6img4 {
	position: absolute;
	top: 198px;
	left: 982px;
	opacity: 0;
}

.page6img5 {
	position: absolute;
	top: 320px;
	left: -49px;
	opacity: 0;
}

.page6img6 {
	position: absolute;
	top: 406px;
	left: 737px;
	opacity: 0;
}

/* contact us */


.footer {
	position:fixed;
	bottom: -305px;
	height: 375px;
	width: 100%;
	z-index: 999;
	opacity: 0;
}

.contactbtn {
	width: 100px;
	height: 22px;
	position: absolute;
	margin-left: 50%;
	left: -50px;
	top: 40px;
	cursor: pointer;
	z-index: 999;
}

.contacttxt {
	margin-top: 3px;
	float: left;
	font-size:12px;
}

.contactimg {
	float: right;
}

.footerline {
	height: 35px;
	width: 100%;
	background-image:url(../img/footerline_tile.png);
	background-position: bottom;
}

.footer1 {
	height: 254px;
	width: 100%;
	background-image:url(../img/contactusbg1.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0;
	
}

.footer2 {
	height: 86px;
	width:100%;
	background-image:url(../img/contactusbg2.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0;
}

.cutxt1 {
	padding-top: 75px;
	text-align:center;	
}

.cutxt2 {
	position: absolute;
	top: 170px;
	width: 510px;
	height: auto;
	margin-left: 50%;
	left: -255px;
	color: #575656;
	font-size: 16px;
}

.ct1 {
	float: left;
}

.ctr {
	float: right;
}

.cutxt3 {
	position: absolute;
	top: 225px;
	width: 920px;
	height: auto;
	/*margin-left: 50%;*/
	/*left: -360px;*/
	margin: auto;
	left: 0;
	right: 0;
	font-size: 16px;
	color: #575656;
}

.skype{
	cursor: pointer;
}

.skype-qr{
	position: absolute;
    width: 122px;
    height: 123px;
    left: -25px;
    bottom: 35px;
    display: none;
    background-color: #fff;
}

.skype-qr img{
	width: 90%;
	height: 90%;
	margin: 5% auto;
}

.download-skype{
	font-size: 12px;
	line-height: 23px;
}

.download-skype a{
	color: #575656;
	text-decoration: none;
	background: #f8b542;
    background: -moz-linear-gradient(-45deg, #f8b542 0%, #ffe086 100%);
    background: -webkit-linear-gradient(-45deg, #f8b542 0%,#ffe086 100%);
    background: linear-gradient(135deg, #f8b542 0%,#ffe086 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b542', endColorstr='#ffe086',GradientType=1 );
    padding: 4px 8px;
    border-radius: 4px;
}

 .heldesk-btn{
 	width: 100px;
 	position: relative;
 }

.heldesk-btn > img{
	position: absolute;
	left: 0;
	z-index: 2;
}

.helpdesk{
	text-decoration: none;
	color: #575656;
	position: relative;
	top: 5px;
	left: 36px;
	z-index: 1;
}

.helpdesk:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    left: -16px;
    background: #f8b542;
    background: -moz-linear-gradient(-45deg, #f8b542 0%, #ffe086 100%);
    background: -webkit-linear-gradient(-45deg, #f8b542 0%,#ffe086 100%);
    background: linear-gradient(135deg, #f8b542 0%,#ffe086 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b542', endColorstr='#ffe086',GradientType=1 );
    z-index: -1;
    padding: 3px 20px 3px 5px;
    border-radius: 0 4px 4px 0;
}

.margincontact {
	margin-top: 5px;	
}

.marginleftct {
	margin-left: 45px;
}

.footercontainer {
	width: 740px;
	position: absolute;
	margin-left: 50%;
	left: -370px;	
}

.footerlink {
	margin-top: 25px;
	font-size: 12px;
	color: #b3b2b2;
	line-height: 19px;
	width: 450px;
	float: left;
}

.footerlink a {
	text-decoration: none;	
	color: #b3b2b2;
}

#pagepiling {
	opacity: 1;
}

#pagebody {
	height: 0;
	background-image: url(../img/page1bg.jpg);
	background-size: cover;

	
}
